html, body, .app {
    height: 100%;
    margin: 0;
}

.player, #audio-player {
    width: 100%;
    text-align: center;
}

#video-player {
    position: absolute;
    max-width:100%;
    max-height:100%;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#audio-player-image {
    margin: 20px auto;
}