html, body, .app {
    height: 100%;
    margin: 0;
}

.artists-section {
    width: 1000px;
    margin: 0 auto;
    height: 50%;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.artist-card {
    height: 100%;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    padding: 2px;
    box-sizing: border-box;
    float: left;
}

.list-group {
    max-height: 250px;
    margin-bottom: 10px;
    overflow-y:scroll;
}

.artists-section .active {
    background-color: blue;
}
.player, #audio-player {
    width: 100%;
}


