html, body, .app {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.artists-section {
    height: 250px;
}

.artist-card {
    height: 100%;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    box-sizing: border-box;
    float: left;
}

.artist-image {
    max-height: 40%;
}

#list-songs {
    max-height: 250px;
    margin-bottom: 10px;
    overflow-y:scroll;
}

.artists-section .active {
    background-color: blue;
}



